{% extends 'base.html' %}

{% block container %}

  <main class="container mt-3">
    <section>

        <h1 class="h1 text-center mt-5 mb-4">Поиск вакансий</h1>

        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">

            <form class="form-inline mb-3">
            <div class="form-group col-8 col-md-10 pl-0">
              <input class="form-control w-100" type="search" name="s" value="{{ query }}" placeholder="Найти работу или стажировку" aria-label="Найти работу или стажировку">
            </div>
            <div class="form-group col-4 col-md-2 pl-0">
              <button class="btn btn-primary w-100" type="submit">Найти</button>
            </div>
          </form>

            </div>
        </div>
          <p class="text-center">{% if vacancies|length == 0 %}Нет вакансий{% else %}Найдено {{ vacancies|length }} вакансий{% endif %} </p>

      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
            {% for vacancy in vacancies %}
          <div class="card mb-4">
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                    <a href="{% url 'vacancies_details'  vacancy.id %}"><h2 class="h2 pb-2">{{ vacancy.title }}</h2></a>
                    <p>{{ vacancy.specialty.title }} • Здесь будут теги • Tag1 • Tag2 • Tag3</p>
                  <p class="mb-2">{{ vacancy.desc }}</p>
                  {% load format %}<p>От {{ vacancy.salary_min|format_int }} до {{ vacancy.salary_max|format_int }} руб.</p>
                  <p class="text-muted pt-1">{% load i18n %}{% language 'ru' %}{{ vacancy.published_at|date:"j E" }}{% endlanguage %}</p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                  <a href="{% url 'companies_details' vacancy.company_id %}"><img src="{% if vacancy.company.logo %}{{ vacancy.company.logo.url }}{% endif %}" width="130" height="80" alt=""></a>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
  </main>

{% endblock %}